
.cart-page {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.cart-title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}


.cart-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}


.cart-items {
  flex: 2;
}


.cart-card {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.cart-img {
  width: 120px;
  height: auto;
  border-radius: 10px;
}


.cart-details {
  flex: 1;
}

.price {
  font-weight: bold;
}

.des {
  font-size: 14px;
  color: gray;
}


.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
 
}

.quantity-box button {
 
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ===== RIGHT SIDE SUMMARY ===== */
.cart-summary {
  flex: 1;
  background: #fafafa;
  padding: 20px;
  border-radius: 12px;
  position: sticky;
  top: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
.empty-cart{
  text-align: center;
}

/* 📱 TABLET RESPONSIVE */

@media (max-width: 992px) {

  .cart-container {
    flex-direction: column;
  }

  .cart-summary {
    position: static;
    width: 100%;
  }
}


/* 📱 MOBILE RESPONSIVE */

@media (max-width: 600px) {

  .cart-page {
    padding: 15px;
  }

  .cart-card {
    flex-direction: column;
    text-align: center;
  }

  .cart-img {
    width: 90px;
  }

  .quantity-box {
    justify-content: center;
  }

  .remove-btn {
    width: 100%;
    margin-top: 10px;
  }

  .cart-summary {
    margin-top: 20px;
  }
}