.trending-label {
  position: relative;
  /* top: 15px; */
  /* left: -150px; */
  right: 150px;
  color: red;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.best{
    position: relative;
  /* top: 1px; */
  bottom: 322px;
  left: -150px;
  right: 150px;
  color: red;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.limit{
     position: relative;
  /* top: 1px; */
  bottom: 322px;
  left: -150px;
  right: 150px;
  color:green ;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}
